*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports all weights from 100 to 900 */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DMSans/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports all weights from 100 to 900 */
  font-style: normal;
  font-display: swap;
}
body{
  min-width: 100vh;
  background: #0c192c;
}
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/*Bubbles animation styles*/
.bubbles{
  position: relative;
  display: flex;
}
.bubbles span{
  position:relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #dbcfab,
  0 0 100px #dbcfab;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate{
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
}

/*      HEADER SECTION STYLING START      */
.header-container{
  display: flex; /* Align title and nav in a row */
  flex-direction: row;
  align-items: center; /* Vertically center-align items */
  justify-content: space-between; /* Push title and nav to opposite ends */
  padding: 20px; /* Add space around the container */
  position: fixed; /* Stays at the top of the page */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.4s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
.header-title{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #dbcfab;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds depth */
  
}
/*      HEADER SECTION STYLING ENDS      */

/*      HERO SECTION STYLING START      */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; /* Allign text to the bottom of the image */
  gap: 2rem; /* space between image and text */
  padding: 2rem;
}
.headshot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.headshot{
  margin-top: 100px;
  margin-left: 200px;
}
.hero-text{
  max-width: 800px;
}

.hero-text h1{
  margin: 0;
  font-family: 'outfit';
  font-size: 60px;
  font-weight: 350;
  color: #dbcfab;
}
.hero-text p{
  margin: 0;
  max-width: 590px;
  font-family: 'DM Sans';
  font-size: 25px;
  font-weight: 20;
  color: #dbcfab;
}
.social-buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}
.social-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #dbcfab;
  color: #000;
  text-decoration: none; /*removes hyperlink underline*/
  border-radius: 999px;
  padding: 0.08rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden; /*Removes the text overflow*/
  white-space: nowrap;
  transition: width 0.3s ease, padding 0.3s ease;
  position: relative;
}
.social-btn img {
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;
}
.social-btn span {
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 0.95rem;
}
.social-btn:hover {
  width: auto;
  padding: 0.75rem 1.2rem;
}
.social-btn:hover span {
  opacity: 1;
}
/*      HERO SECTION STYLING ENDS      */